* {
    box-sizing: border-box;
}
body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: white;
    font-size: 18px;
    margin: 0;
    min-height: 100vh;  
    display: grid;
    place-items: center;   
}
.container {
    display: flex;
    width: 700px;
    border-radius: 15px;
    box-shadow: 4px 4px 10px 0px rgba(229,233,244,0.5);
}
.result{
    width: 50%;
    border-radius: 20px;
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    color: white;
    padding: 25px ;
    text-align: center;
}
.result h3 {
    color: hsl(210, 9%, 86%);
    padding: 20px;
}
.container .result .circle {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin: 0 auto;
    padding: 10px;
    background-image: linear-gradient(to bottom,hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
}
.container .result .circle h1 {
    font-size: 65px;
    margin-top: 25px;
}
.container .result .circle p {
    color: hsl(223, 8%, 83%);
    margin-top: -45px;
    font-size: 15px;
    padding: 0 30px;
}
.container .result p {
    color: hsl(216, 4%, 75%);
    padding: 0 40px;
    font-size: 16px;
}
.summary {
    width: 50%;
    padding: 30px;
}
.summary ul {
    list-style: none;
    width: 100%;
}
.summary ul li {
    margin-left: -40px;
    margin-bottom: 15px;
    padding: 18px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}
.summary ul .reaction {
    background-color: hsl(0, 58%, 95%, 0.5) ;
    color: hsl(0 100% 67% / 75%);
    border-radius: 10px;
}
.summary ul .memory{
    background-color:hsl(38, 100%, 96%) ;
    color:  hsl(39 100% 56% / 75%);
    border-radius: 10px;
}
.summary ul .verbal{
    background-color: hsl(163, 58%, 95%, 0.7);
    color: hsl(166 100% 37% / 75%);
    border-radius: 10px;
}
.summary ul .visual{
    background-color: hsl(235, 67%, 96%, 0.7);
    color: hsl(234 85% 45% /75%);
    border-radius: 10px;
}
.summary ul li i {
    margin-right: 10px;
}
.summary ul span {
    color: hsl(223deg 9% 63%)
}
.summary ul li .percent {
    color: hsl(224, 30%, 27%);
} 
.summary a {
    text-decoration: none;
    background-color:  hsl(224, 30%, 27%);
    color: white;
    font-weight: bold;
    display: block;
    padding: 15px;
    text-align: center;
    border-radius: 30px;
}
a:hover {
    cursor: pointer;
    background-image: linear-gradient(to bottom,hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    }
@media (max-width:767px){
    .container {
        flex-direction: column;
        width: 300px;
        
    }
    .result {
        padding: 10px;
        width: 100%;
    }
    .container .result .circle {
        width: 140px;
        height: 140px;
    }
    .container .result .circle h1 {
        font-size: 45px;
    }
    .container .summary {
        width: 100%;
        padding: 20px;
    }
        .container .summary ul {
        width: 100%;
    }
    .container .summary ul li {
        padding: 15px;
    }
    .container .summary button {
        width: 100%;
    }
}
